.message{
    display: flex;
    align-items: center;
    padding: 1rem;
    color:#fff;
}

.message__info{
    margin-left: 1rem;
}

.message__timestamp{
    color: gray;
    margin-left: 1rem;
    font-size: 0.7rem;
}